<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=:, initial-scale=1.0">
  <title>Playlist Descriptor</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>Youtube Playlist Descriptor</h1>
  <div class="container">
    <p>Enter the Youtube Playlist link</p>
    <input type="text" id="search-box">
    <button class="search-btn" onclick="server.run()">Go</button>
    <p id="details">
    </p>
  </div>
</body>
</html>
